%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 My Queue
        = form_for @user, url: queue_item_path(@user.id), method: :patch do |user_form|
          %table.table
            %thead
              %tr
                %th(width="10%") List Order
                %th(width="30%") Video Title
                %th(width="10%") Play
                %th(width="20%") Rating
                %th(width="15%") Genre
                %th(width="15%") Remove
            %tbody
              - @user.queue_items.order(:position).each do |queue_item|
                = user_form.fields_for queue_item, index: queue_item.id do |queue_item_form|
                  %tr
                    %td
                      = queue_item_form.text_field :position, class: "form-control"
                    %td
                      = link_to queue_item.video_title, queue_item.video
                    %td
                      = button_to "Play", nil, class: "btn btn-default"
                    %td= queue_item.rating
                    %td
                      = link_to queue_item.category_name, queue_item.category
                    %td
                      = link_to queue_item_path(queue_item), method: :delete do
                        %i.glyphicon.glyphicon-remove
          = user_form.submit "Update Instant Queue", class: "btn btn-default"
